{% extends "padre.html" %}

{% block seccion %}

    <h1>Cursos</h1>
                            
{% endblock %}

{% block contenido %}

    <h2> Cursos Disponibles </h2>

<div class="container">
    <table class="table table-hover table-success table-striped" style="margin-top: 100px; margin-bottom: 200px; margin-left: 50; margin-right: 50;">
        <tr>
           <th>id</th>
            <th>Nombre</th>
           <th>Comision</th>
           <th>Accion</th>
        </tr>
            {% for curso in cursos %}
        <tr>
                <td>{{curso.id}}</td>
                <td>{{curso.nombre}}</td>
                <td>{{curso.comision}}</td>
                <td>
                
                    <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-danger">BORRAR</a>
                    <a href="{% url 'editar_curso' curso.id %}" class="btn btn-info">EDITAR</a>
                
                </td>
            {% endfor %}
       </tr>
   </table>
       <a href="alta_curso" class="btn btn-primary">Nuevo Curso</a>
  
</div>

{% endblock %}
