{% extends "padre.html" %}

{% block seccion %}

<h1>Nuestres Profesionales</h1>
                            
{% endblock %}


{% block contenido %}

<main>
    <ul> 
        <li>PROFESOR MARTINEZ: Especialista en Python y Django</li>
        <li>PROFESORA SMITH: Experta en ciberseguridad</li>
        <li>PROFESORE DESOUCHES: Analista de Datos y docente de Ciencia de Datos</li>
        <li>PROFESOR ABDALA: Diseñador UXUI</li>
        <li>PROFESORA TOMISAKI: Experta en metodologías Agile y directora de AppCoder</li>
    </ul>

</main>

{% endblock %}